.home{
  &__header {
    @include position(relative);
  }

  &__title {
    @include position(absolute);

    width: 100%;
    text-align: center;
    padding: $spacing-unit 0;
  }

  &__list {
    list-style-type: none;
    margin: 0 0 $spacing-unit /3;
  }

  &__list-item {
    display: inline-block;
    vertical-align: middle;
  }

  &__separator {
    font-size: 12px;
  }

  &__name {
    font-family: $title-font-family;
    text-transform: uppercase;
    letter-spacing: 18pt;
    font-size: $base-font-size * 3;
    margin-bottom: 0;

    &--jp,
    &--cn {
      @include size(100% auto);
      @include margin(auto);

      padding: $spacing-unit /3;
      display: block;
    }

    &--jp {
      max-width: 12em;
    }

    &--cn {
      max-width: 6em;
    }

  }

  &__figure {
    margin-bottom: 0;
    background-color: $home-bg-color;
  }
}