@charset "utf-8";


// Our variables
$base-font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
$title-font-family: 'Lato', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

/* Colors */
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #00BFB3;

$grey-color:       #757575;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$home-bg-color: #E4EAEA;

$color-linkedin: #0077B5;
$color-github: #4078C0;
$color-dribbble: #EA4C89;
$color-twitter: #1a8bf0;

$on-palm:          600px;
$on-laptop:        800px;


$desktop: min-width 921px 12;
$tablet: min-width 481px 8;
$mobile: max-width 480px 4;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import "bourbon";
@import "neat";

@import "_base";
@import "_layout";
@import "_home";
@import "_post";
@import "_post-emotivu";
@import "_post-tronsquare";
@import "_post-o2-academy";
@import "_post-panasonic";
@import "_post-worldpay";
@import "_svg_name";
@import "_header";
@import "_footer";
@import "_syntax-highlighting";
