---
layout: home
block: home
---

<header class="{{page.block}}__header">
    <div class="{{page.block}}__title">
      <h1 class="{{page.block}}__name">{{ site.title }}</h1>

      {% include svg-name.html %}

       <p class="{{page.block}}__desc">Product Designer ✏️ Tech Explorer 🚀</p>

    </div>

    <figure class="{{page.block}}__figure">
      <img class="{{page.block}}__img" src="{{ site.baseurl }}/images/profile1.jpg" alt="Jonathan Yap Profile">
    </figure>

</header>

<section class="{{page.block}}__posts">

  <ul class="{{page.block}}__post-lists">
    {% for post in site.posts %}
      <li class="post-lists__list">
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
        <p class="post__desc_preview">{{ post.content | strip_html | truncatewords:24}} <a href="{{ post.url | prepend: site.baseurl }}">👉</a></p>
      </li>
    {% endfor %}
  </ul>

</section>
